.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
}

.imprimantes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les éléments de la liste */
}

.imprimante-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.imprimante-image {
  max-width: 100%;
  height: auto;
}

.bloc {
  margin-top: 10px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Centre les boutons */
  gap: 10px; /* Espace entre les boutons */
}

.button-acheter {
  padding: 10px;
  background-color: #e19e0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour le survol */
}

.button-supprimer {
  padding: 10px;
  background-color: #b83806;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition pour le survol */
}

.button-acheter:hover {
  background-color: #c68a00; /* Couleur de survol pour le bouton d'achat */
}

.button-supprimer:hover {
  background-color: #9b2c02; /* Couleur de survol pour le bouton de suppression */
}
