/* Style général pour la barre de navigation */
.navbar {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  padding: 10px 20px; /* Ajouter de l'espace autour des éléments */
  background-color: #df910c; /* Couleur de fond de la barre de navigation */
  color: white; /* Couleur du texte */
}

/* Style pour le logo */


/* Style pour les liens de navigation au centre */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacement entre les liens */
  margin: 0;
  padding-left: 20px;
  flex: 2; /* Prend de l'espace au centre */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Style pour les liens de connexion alignés à droite */
.logs {
  display: flex;
  gap: 20px; /* Espacement entre les liens de connexion */
}

.logs li {
  display: inline;
}

.logs a {
  color: white;
  text-decoration: none;
}

.logs a:hover {
  text-decoration: underline;
}
